:root {
  --main-color: #7b1fa2;
  --light-color: #7b1fa237;
  --secondary-color: #ab47bc;
  --white-color: #fff;
  --black-color: #000;
  --ff-normal: "Nunito", sans-serif;
  --ff-height: "Oswald", sans-serif;
  --ff-italic: "Pinyon Script", cursive;
  --ff-heading: "Kurale", serif;
}

.bg_design {
  position: absolute;
  top: 10rem;
  left: 0;
  height: 65vh;
  width: 100%;
  background-color: #dfe2f0;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 81%, 50% 99%, 0 81%);
}
.service_page_details {
  height: 100%;
  width: 100%;
  margin-top: -7rem;
  display: flex;
  gap: 3rem;
}
.service_page_list {
  flex-basis: 25rem;
  min-width: 22rem;
  background: linear-gradient(
    -90deg,
    var(--secondary-color),
    var(--main-color)
  );
  padding-left: 1rem;
  padding-top: 7rem;
}
.service_page_list_name {
  padding: 8px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
}
.service_page_list_name.active {
  background: var(--secondary-color);
}
.service_page_list_sub_title {
  transition: height 0.4s ease;
}
.service_page_list_sub_title.hello {
  height: 0;
  /* border: 1px solid #0092d1; */
  overflow: hidden;
}
.service_page_list_sub_title.drop_down {
  height: 500px;
}
.service_page_list_sub_title.one.drop_down {
  height: 482px;
}
.service_page_list_sub_title.two.drop_down {
  height: 486px;
}
.service_page_list_sub_title.three.drop_down {
  height: 448px;
}
.service_page_list_sub_title.four.drop_down {
  height: 664px;
}
.service_page_list_sub_title_name {
  column-count: 2;
  column-gap: 2rem;
}
.service_page_list_sub_title_name_box {
  padding: 8px 1rem;
  font-size: 16px;
  list-style: disc;
  font-weight: 600;
  text-transform: capitalize;
}
.service_page_list_sub_title_name_box.active {
  background-color: var(--main-color);
  color: var(--white-color);
  box-shadow: var(--white-color) 0 0 0.6rem;
  border: 1px solid var(--white-color);
  max-width: 30rem;
}
.service_page_des {
  padding-top: 9rem;
  margin-right: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.service_page_des_content_details {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  gap: 3rem;
  /* justify-content: space-around; */
}
.first_col {
  flex: 1;
  order: -2;
}
.second_col {
  order: 1;
}
.second_col_content {
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid rgb(199, 199, 199);
}
.second_col_name {
  font-size: 24px;
  width: 25rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 1rem 8px;
  text-align: center;
}
.second_col_content:hover {
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0.8rem;
  transform: scale(1.01);
}
.second_col img {
  width: 25rem;
  height: 23rem;
  border-radius: 8px;
  object-fit: cover;

  /* padding: 1rem; */
  box-shadow: rgba(0 0 0 /1%) 0 0 1rem;
  /* border-radius: 50%; */
}
.service_page_des_title {
  color: var(--white-color);
  background-color: var(--main-color);
  font-size: 48px;
  text-transform: capitalize;
  padding: 8px 2rem;
}
.service_page_des_content_details {
  padding: 3rem;
}
.service_page_list_sub_title_name {
  background: #ffffff86;
  cursor: pointer;
}
.service_page_list_sub_head {
  padding: 8px;
  text-transform: capitalize;
  /* text-align: center; */
  font-size: 18px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 700;
}
.service_page_des_content_details_heading {
  font-size: 32px;
  margin: 2rem 0;
  text-transform: capitalize;
  font-weight: 700;
}
.service_page_des_content_details_des {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.service_page_des_content_sub_details {
  column-count: 2;
  margin: 2rem 0;
  column-gap: 20px;
}
.service_page_des_content_sub_details_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title_style {
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.des_style {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.des_style_box_disc {
  list-style: disc;
  text-indent: -20px;
  padding-left: 20px;
}
.des_style_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sub_title_style {
  /* list-style-type: disc; */
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
}
.sub_title_style_two {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--main-color);
}
.normal_text,
.subDes {
  font-size: 18px;
}

.service_page_des_content_details_des_details {
  font-size: 28px;
  font-weight: 700;
}
.service_page_list_sub_title_two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}
.service_page_list_sub_title_two_img img {
  width: 100%;
  transition: all 0.3s ease;
  height: 332px;
  object-fit: cover;
}
.service_page_list_sub_title_two_img img.active {
  filter: brightness(0.5);
}
.service_page_list_sub_title_two_des_box {
  max-width: 22rem;
}

.service_page_list_sub_title_two_box {
  box-shadow: rgba(0 0 0 /0.2) 5px 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.5s ease;
  overflow: hidden;
  height: 380px;
  position: relative;
}
.service_page_list_sub_title_two_name {
  font-size: 22px;
  font-weight: 700;
  padding: 5px 1rem;
}
.service_page_list_sub_title_two_box_content {
  transform: translateY(0);
  background-color: var(--white-color);
  /* overflow: hidden; */
  max-height: 332px;
  /* overflow-y: scroll; */
  transition: all 0.3s ease;
}
.service_page_list_sub_title_two_box_content.active {
  transform: translateY(-99%);
  overflow-y: scroll;
}
.service_page_list_sub_title_two_des {
  padding: 5px 1rem;
}
